*{
    background-color: rgb(236, 235, 235);
    color: rgb(46, 46, 46);
}

section, h4{
    text-align: center;
}

h4{
    font-size: 20px;
}

#name{
    font-size: 48px;
}

.containerlogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
   justify-content: center;

}

.itemlogo{
    margin: 10px;

}
